* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    width: 100vw;
    height: auto;
  }
  .main {
    padding: 3.25rem;
    background-color: beige;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .header {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .basic-question {
    font-size: 3rem;
  }
  
  .article {
    padding-top: 3.875rem;
    margin: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
  }
  .question {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .h2-question {
    color: brown;
    font-size: 2rem;
  }
  
  .answer {
    font-size: 1.375rem;
  }
  .strong {
    color: rgb(40, 160, 3);
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .para {
    display: inline;
  }
  /* Question -3  */
.main-navigation {
    background-color: darkorange;
    width: 900px;
    height: 600px;
    margin: 0 auto;
  }
  .header-nav {
    width: 100%;
    background-color: crimson;
  }
  .navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-items {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-list {
    list-style: none;
  }
  .nav-link {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
  }
  .nav-link:hover {
    color: rgb(255, 196, 0);
  }
  .sub-nav {
    position: relative;
    display: inline-block;
  }
  
  .sub-items {
    display: none;
  }
  
  #wordpress:hover {
    color: lawngreen;
  }
  
  .sub-nav:hover .sub-items {
    background-color: blueviolet;
    height: 140px;
    /* min-width: 160px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    position: absolute;
    color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    gap: 1.25rem;
    padding-left: 10px;
  }
  
  .sub-list {
    list-style: none;
  }
  .sub-link {
  }
  .side-nav {
    position: relative;
    display: inline-block;
  }
  
  .side-nav {
    display: flex;
    width: auto;
    gap: 80px;
  }
  
  .side-nav-items {
    display: none;
  }
  
  .side-nav:hover .side-nav-items {
    background-color: crimson;
    width: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    gap: 1.25rem;
  }